.header{
    width: 100%;
    background: #007865;
    color:white;
    height: 5em;
    position:relative;
    }

.logo{
    position: absolute;
    left: 150px;
    top: 10px;
    
}

nav {
  position: absolute;
  left: 900px;
  top: 25px;
       
  }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    
  }
  nav li {
    display: inline-block; 
    content: "|";
      }

  a {
    color:white;
  }
  li:not(:first-child):before {
    content: " | ";
  }

  .block_1{
    position: relative;
    background-image: url(images/image.png);
    height: 300px;
    
        }

  .block_1 h1{
    color: white;
    font-size: 80px;
    position: absolute;
    top: 50px; 
    left: 400px;
     }