.header{
    width: 100%;
    background: #007865;
    color:white;
    height: 3em;
    
    
}

.logo{
    float: left;
    padding-left: 100px;
}

nav {
    float: right;
    padding-right: 100px;
    
  }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  nav li {
    display: inline-block; 
    content: "|";
      }

  a {
    color:white;
  }
  li:not(:first-child):before {
    content: " | ";
  }
